.notification-container {
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .notification-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  