/* ContactPage.css */

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
  
  .contact-info {
    width: 35%;
    padding: 30px;
    background-color: #f1f1f1;
    border-radius: 20px;
    margin-right: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  
  .contact-card {
    width: 45%;
    padding: 50px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(41, 40, 40, 0.208);
  }
  
  .contact-card h2 {
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #3847bc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  