.info-client-container {
    padding: 20px;
  }
  
  .message-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .msg-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .msg {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .msg span {
    font-size: 14px;
    font-weight: bold;
  }
  
  .description {
    font-size: 15px;
    color: #070606;
  }
  
  .download-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; /* Adjust the width as needed */
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  
  .download-button svg {
    margin-right: 5px;
  }
  
  .message-icon {
    font-size: 22px;
    color: grey;
  }
  