.message {
    display: flex;
    align-items: center;
  }
  
  .message-label {
    font-weight: bold;
    margin-right: 5px;
    color: #0a0a20; /* Example label color */
  }
  
  .notifications-container .msg-box .message .message-value {
    font-weight: normal;
    color: #070606;
    font-size: 15px;
    font-family: "Arial Narrow", Arial, sans-serif;
    

  }
  
  
  
  
  